#----------------------------------------------------
# Default User
#----------------------------------------------------
VERION=2.0.0
LAW_CRAWLER_DIR="c:/law-crawler"
LAW_CRAWLER_EXE_DIR="c:/law-crawler/exe"

# -------------------------------------------
# UI 기본 경로 설정
# -------------------------------------------
VERSION=1.0.0
UI_BASE_DIR=c:/law-crawler-ui

# LOG
UI_LOG_DIR=c:/law-crawler-ui/logs
UI_LOG_LEVEL=DEBUG


# -------------------------------------------
# Crawler 기본 경로 설정
# -------------------------------------------
CRAWLER_BASE_DIR=c:/law-crawler
CRAWLER_LOG_DIR=c:/law-crawler/logs
CRAWLER_DATA_DIR=c:/law-crawler/data
CRAWLER_EXE_DIR=c:/law-crawler/exe